[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
plotly = "*"
pandas = "*"
pytz = "*"
matplotlib = "*"
dash_bootstrap_components = "*"
gunicorn = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true